<div id="post_content">
	<div class="row">
		<div class="col-md-9">

			<h1 class="title"><%= @restaurant.razon_social %></h1>
			<p class="body">RUC : <%= @restaurant.ruc %></p>
			<% if @restaurant.avatar? %>
				LOGO :
				<%= image_tag @restaurant.avatar.url, :size => "80x80" %>
			<% end %>			
		</div>
	
		<div class="col-md-3">
			<p class="date" style="text-align:right;">
				Agregado hace <%= time_ago_in_words(@restaurant.created_at) %> 
				<% if user_signed_in? %>
				| <%= link_to 'Editar', edit_restaurant_path(@restaurant) %> |
				  <%= link_to 'Borrar', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Estas seguro/a?' } %>
			    <% end %>
			</p>		
		</div>	
	</div>
	
	<div id="comments">
		<h2><%= @restaurant.sedes.count %> Sedes</h2>
		<%= render @restaurant.sedes %>

		<h3>Agrega una nueva sede:</h3>
		<%= render "sedes/form" %>
		
	</div>
</div>