<!DOCTYPE html>
<html>
<head>
  	<title>TuRestaurante</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= favicon_link_tag 'favicon.ico' %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.svg" %>
			<% end %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Datos de restaurante", root_path %></li>
			<li><%= link_to "Platos" %></li>
			<li><%= link_to "Equipo", about_path %></li>
		</ul>

		<% if !user_signed_in? %>
			<p class="sign_in"><%= link_to "Acceder aqui", new_user_session_path %></p>
		<% end %>
	</div>

	<div id="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p>Todos los restaurantes</p>
			<% elsif current_page?(about_path) %>
				<p>Equipo</p>
			<% else %>
				<%= link_to "Atras", root_path %>
			<% end %>

			<% if user_signed_in? %>
				<div class="buttons">
					<button class="button"><%= link_to "Nuevo restaurante", new_restaurant_path %></button>
					<button class="button"><%= link_to "Salir", destroy_user_session_path, :method => :delete %></button>
				</div>
			<% end %>
		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<%= yield %>
		
	</div>
</body>
</html>
